# Ignore all mp4 files
*.mp4

# Ignore all jpg files
*.jpg
*.jpeg
*.JPG
*.JPEG

# Ignore all png files
*.png
*.PNG

# Ignore all gif files
*.gif
*.GIF

# Ignore all wav giles
*.wav

# Ignore all API env variables
*.env
