
<html>
  <head>
    <meta charset="utf-8">
    <title>Camille Cady-MacCrea</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/views/assets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/views/assets/style_camille.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></h1>
	    <!--<p>the artist is not present</p>-->

	    

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">SHOW 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>


	    <h1 class="project_title">Name of Camille's Project</h1>
	    <h3 class="artist_name">Camille Cady-MacCrea</h3>


	    <div class="image_container">
			<div class="inner"><img src="/assets/camille_img_1.jpg" width="300px" alt=""></div>
			<div class="inner"><img src="/assets/camille_img_2.jpg" width="300px" alt=""></div>
			<div class="inner"><img src="/assets/camille_img_3.jpg" width="300px" alt=""></div>
			<div class="inner"><img src="/assets/camille_img_4.png" width="300px" alt=""></div>
			<div class="inner"><img src="/assets/camille_img_5.jpg" width="300px" alt=""></div>
			<div class="inner"><img src="/assets/camille_img_6.png" width="300px" alt=""></div>
			<div class="inner"><img src="/assets/camille_img_7.jpg" width="300px" alt=""></div>
		</div>

	  </div>
  </body>
</html>