
<html>
  <head>
    <meta charset="utf-8">
    <title>Camille Cady-McCrea</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/views/assets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/views/assets/style_camille.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
	    <!--<p>the artist is not present</p>-->

	    

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">GALLERY 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>


	    <h1 class="project_title">Every Day is Different But the Same</h1>
	    <h3 class="artist_name">Camille Cady-McCrea</h3>


	    <div class="image_container">

			<div class="inner"><img src="/assets/camille_img_1.jpg" width="300px" alt="imagine the ugliest granite countertop. viewed from directly above, a warm loaf of freshly baked, successfully made bread is observed. a pointed loaf, it has two diagonal slashes and a delicious looking crust"></div>

			<div class="inner"><img src="/assets/camille_img_2.JPG" width="300px" alt="change can be really difficult. I'm not really that good at dealing with it. When we knew we had to move, and my parents bought a new house, the first time I visited I practically threw a fit. I hated everything about the new house, neighborhood, and city. There are still things I dislike, like how there's incessant lawn mowing, but I've grown to like a few things about it. change seems to come in waves, with just enough stasis in between for me to get used to things, then change again. Sometimes it makes me feel like I'm in a semi-permanent state of grief. I don't know how to explain that further, really. maybe I'll come back to it if I think of a better way."></div>

			<div class="inner"><img src="/assets/camille_img_3.jpg" width="300px" alt="two loaves of brioche are observed. one braided, one plain loaf. I am proud of them."></div>

			<div class="inner"><img src="/assets/camille_img_4.png" width="300px" alt="grey cat's face stares at cameraperson from the bottom inside shelf of the bathroom closet. she is snuggled on top of two piles of hand towels."></div>

			<div class="inner"><img src="/assets/camille_img_5.jpg" width="300px" alt="Every day I sit at our kitchen table and watch the birds outside of the window. There are a number of squirrels, too. I'm struck with a sense of sonder, realizing that even to each bird and squirrel, the world is an entirely individual sphere. I think a lot about how if my parents had had children at a different time, they would be different people than me and my brother. I usually think the thought, I would be a different person, but it wouldn't be me. My parents got married in 1984, but didn't have children until 1995. Most of their friends who got married around the same time had children earlier, so my quote-unquote peers are a decade older. The people I(the other me?) would have been friends with. There are a lot of variables to every decision.. what if my parents hadn't left california? what if I went to a different school or chose a different career path? If I think about it too much, I feel out of place. Displaced. Like I'm a video game avatar, but I'm aware that someone else is making ‘my’ choices for me."></div>

			<div class="inner"><img src="/assets/camille_img_6.png" width="300px" alt="I love the way my cat smells. She has a thick coat, and when I give her kisses, sometimes I'll breathe in. She smells like warm bread and life. It's like smelling a baby, it's a comforting, familiar scent that I can't quite put my finger on. I know I'm a little allergic to her, but when she curls up in my arms, and snores I can't help but bury my face into her soft fur, close my eyes, and breathe. It's a feeling that makes me happy I'm alive, and that reminds me that she's there and needs me to take care of her and it just smells like she's telling me she loves me."></div>

			<!-- image grid spacer -->
			<div class="inner"></div>

			<div class="inner"><img src="/assets/camille_img_7.jpg" width="300px" alt="grey cat is perched inquisitively on the arm of a greenish-bluish armchair. she is staring out of a large window at the chipmunk who lives in the flowerbed under the window. this is one of her favorite spots."></div>

			<!-- image grid spacer -->
			<div class="inner"></div>

		</div>

	  </div>
  </body>
</html>