
<html>
  <head>
    <meta charset="utf-8">
    <title>Lisha Nie</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_lisha.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <p><i>Artist</i>: Lisha Nie  <i>Technical Director</i>: Perseus Yang  <i>Technical Developer</i>: Weiyu Wang</p>
	    <p><i>Artist Website</i>: <a href="http://www.nielisha.com">www.nielisha.com</a></p>

	    

	    <video id="videoBG" autoplay muted loop>
    		<source src="/assets/webpage_animation.mp4" type="video/mp4">
		</video>


		<div class="image_container">

			<!-- image grid spacer -->
			<div class="inner"></div>

			<audio id="audio_4_a">
				<source src="/assets/cell4.wav" type="audio/wav">
			</audio>
			<audio id="audio_4_b">
				<source src="/assets/memory4.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_4_a').play();"src="/assets/lisha_4.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_4_b').play();"><span>cell memory 04</span></div>

			<audio id="audio_5_a">
				<source src="/assets/cell5.wav" type="audio/wav">
			</audio>
			<audio id="audio_5_b">
				<source src="/assets/memory5.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_5_a').play();" src="/assets/lisha_5.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_5_b').play();"><span>cell memory 05</span></div>

			<audio id="audio_3_a">
				<source src="/assets/cell3.wav" type="audio/wav">
			</audio>
			<audio id="audio_3_b">
				<source src="/assets/memory3.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_3_a').play();" src="/assets/lisha_3.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_3_b').play();"><span>cell memory 03</span></div>

			<audio id="audio_7_a">
				<source src="/assets/cell7.wav" type="audio/wav">
			</audio>
			<audio id="audio_7_b">
				<source src="/assets/memory7.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_7_a').play();" src="/assets/lisha_7.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_7_b').play();"><span>cell memory 07</span></div>

			<audio id="audio_13_a">
				<source src="/assets/cell13.wav" type="audio/wav">
			</audio>
			<audio id="audio_13_b">
				<source src="/assets/memory13.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_13_a').play();" src="/assets/lisha_13.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_13_b').play();"><span>cell memory 13</span></div>

			<audio id="audio_9_a">
				<source src="/assets/cell9.wav" type="audio/wav">
			</audio>
			<audio id="audio_9_b">
				<source src="/assets/memory9.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_9_a').play();" src="/assets/lisha_9.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_7_b').play();"><span>cell memory 09</span></div>

			<audio id="audio_1_a">
				<source src="/assets/cell1.wav" type="audio/wav">
			</audio>
			<audio id="audio_1_b">
				<source src="/assets/memory1.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_1_a').play();" src="/assets/lisha_1.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_1_b').play();"><span>cell memory 01</span></div>

			<audio id="audio_14_a">
				<source src="/assets/cell14.wav" type="audio/wav">
			</audio>
			<audio id="audio_14_b">
				<source src="/assets/memory14.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_14_a').play();" src="/assets/lisha_14.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_14_b').play();"><span>cell memory 14</span></div>

			<audio id="audio_6_a">
				<source src="/assets/cell6.wav" type="audio/wav">
			</audio>
			<audio id="audio_6_b">
				<source src="/assets/memory6.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_6_a').play();" src="/assets/lisha_6.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_6_b').play();"><span>cell memory 06</span></div>

			<!-- image grid spacer -->
			<!-- <div class="inner"></div> -->

			<audio id="audio_11_a">
				<source src="/assets/cell11.wav" type="audio/wav">
			</audio>
			<audio id="audio_11_b">
				<source src="/assets/memory11.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_11_a').play();" src="/assets/lisha_11.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_11_b').play();"><span>cell memory 11</span></div>

			<audio id="audio_8_a">
				<source src="/assets/cell8.wav" type="audio/wav">
			</audio>
			<audio id="audio_8_b">
				<source src="/assets/memory8.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_8_a').play();" src="/assets/lisha_8.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_8_b').play();"><span>cell memory 08</span></div>

			<audio id="audio_10_a">
				<source src="/assets/cell10.wav" type="audio/wav">
			</audio>
			<audio id="audio_10_b">
				<source src="/assets/memory10.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_10_a').play();" src="/assets/lisha_10.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_10_b').play();"><span>cell memory 10</span></div>

			<audio id="audio_2_a">
				<source src="/assets/cell2.wav" type="audio/wav">
			</audio>
			<audio id="audio_2_b">
				<source src="/assets/memory2.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_2_a').play();" src="/assets/lisha_2.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_2_b').play();"><span>cell memory 02</span></div>

			<audio id="audio_12_a">
				<source src="/assets/cell12.wav" type="audio/wav">
			</audio>
			<audio id="audio_12_b">
				<source src="/assets/memory12.wav" type="audio/wav">
			</audio>
			<div class="inner"><img onclick="document.getElementById('audio_12_a').play();" src="/assets/lisha_12.jpg"></div>
			<div class="inner label" onclick="document.getElementById('audio_12_b').play();"><span>cell memory 12</span></div>

		</div>




	    <!-- <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,0)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,0)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,0)" href="/ctc3002">SHOW 2</a></p>
	    </div> -->

	  </div>
  </body>
</html>