
<html>
  <head>
    <meta charset="utf-8">
    <title>Lisha Nie</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_lisha.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <p><i>Artist</i>: Lisha Nie  <i>Technical Director</i>: Perseus Yang  <i>Technical Developer</i>: Weiyu Wang</p>
	    <p><i>Artist Website</i>: <a href="http://www.nielisha.com">www.nielisha.com</a></p>

	    

	    <video id="videoBG" autoplay muted loop>
    		<source src="/assets/webpage_animation.mp4" type="video/mp4">
		</video>




	    <!-- <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,0)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,0)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,0)" href="/ctc3002">SHOW 2</a></p>
	    </div> -->
	    
	  </div>
  </body>
</html>