
<html>
  <head>
    <meta charset="utf-8">
    <title>Tommy O'Halleran</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_tommy.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
	    <!--<p>the artist is not present</p>-->
	    

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">GALLERY 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>

	    <h1 class="project_title">Tangible Interfaces</h1>
	    <h3 class="artist_name">Tommy O'Halleran</h3>

	    <div class="description_container">
	    	<p class="description">We usually think of the computer as being contained within a box. We interact with the computer through a screen, a phone, a keyboard or a mouse. What happens if you break the box and bring the computer out into physical space? This project aims to create physical, tangible touch points out into the environment for the user to touch and control a digital space. The end result is a 4 direction floor pad mini game, but this experiment can become the basis for further blending digital and physical worlds.</p>

	    </div>

	    <div class="media_container">
			<video class="media_player" width="640"  alt="placeholder alt text" controls>
			  <source src="/assets/tommy_video-z.mp4" type="video/mp4">
			</video>
		</div>

	  </div>
  </body>
</html>