
<html>
  <head>
    <meta charset="utf-8">
    <title>about gallery in-lieux</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
    <div id="page_about" class="page">
    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></h1>
      <h2>ABOUT</h2>
      <p>This is a gallery. This gallery doesn't exist as it should, so instead it exists as it does.</p>
      <p>It provides a place to show work when irl venues are prohibited or otherwise impossible.</p>
      <p>It seeks to reproduce those aspects of the gallery experience that participants desire and, simultaneously, not reproduce those aspects that might be violent and exclusionary.</p>
      <p>The project adopts the name "in-lieux" in an effort to extend <a href="https://en.wikipedia.org/wiki/Non-place">Marc Augé</a>'s concept of non-lieux, or non-places and attempts to make a place from a non-place.</p>
    </div>
  </body>
</html>