
<html>
  <head>
    <meta charset="utf-8">
    <title>about non-lieux</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
  	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">NON-LIEUX</a></h1>
    <h2>ABOUT</h2>
    <p>This is a gallery. This gallery doesn't exist as it should, so instead it exists as it does.</p>
    <p>It provides a place to show work when irl venues are prohibited or otherwise impossible.</p>
    <p>It seeks to reproduce those aspects of the gallery experience that participants desire and, simultaneously, not reproduce those aspects that might be violent and exclusionary.</p>
    <p>The project adopts the name "non-lieux" in an effort to extend <a href="https://en.wikipedia.org/wiki/Non-place">Marc Augé</a>'s concept of non-lieux, or non-places.</p>
  </body>
</html>