
<html>
  <head>
    <meta charset="utf-8">
    <title>about gallery places instead</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
    <div id="page_about" class="page">
    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
      <h2>ABOUT</h2>
      <p class="description">This is a gallery. This gallery doesn't exist as it should, so instead it exists as it does.</p>
      <p class="description">It provides a place to show work when irl venues are prohibited or otherwise impossible.</p>
      <p class="description">Importantly, it seeks to selectively reproduce aspects of the gallery experience.</p>
      <p class="description">The project adopts the name "places instead" or "in-lieux" in an effort to extend <a href="https://en.wikipedia.org/wiki/Non-place">Marc Augé</a>'s concept of "non-lieux" (or non-places) and hopes to make places from a non-places.</p>
    </div>
  </body>
</html>