
<html>
  <head>
    <meta charset="utf-8">
    <title>about non-lieux</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css">
  </head>
  <body>
    <h2>ABOUT</h2>
    <p>The is a gallery. This gallery doesn't exist as it should, so instead it exists as it does.</p>
    <p>It provides a place for students to show work when other venues are prohibited.</p>
    <p>The project adopts the name "non-lieux" in an effort to extend Marc Augé's concept of non-lieux or non-places.</p>
  </body>
</html>