
<html>
  <head>
    <meta charset="utf-8">
    <title>ctc-1000</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
      <div id="page_ctc1000" class="page">
      	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
        <h2>AFTERIMAGES: GALLERY 1</h2>
        <p class="description">Afterimages gallery 1 forms a collection of works that utilize computational tools and concepts as either medium, technique, or subject matter and were created by students in <a href="https://www.risd.edu/">RISD</a>'s <b>Introduction to Computation</b> course, part of the <a href="https://ctc.risd.edu/">Computation, Technology, and Culture</a> concentration.</p>

        <p class="description">While many of the works included here were conceived before the shift to remote learning caused by the pandemic, and do not directly address related issues, none are wholly uninfluenced.</p>

         <p class="description">As a negative has a printed pair in photography, so too do the works displayed here have their twin in a pre-COVID-19 moment. </p>

        <div class="artist_roster">
            <!-- <p class="artist_name"><a href="/ctc1000/arayla-bakhat-baketebaike">Arayla Bakhat Baketebaike</a></p> -->
            <p class="artist_name"><a href="/ctc1000/cameron-nayeri">Cameron Nayeri</a></p>
            <p class="artist_name"><a href="/ctc1000/tianyue-he">Tianyue He</a></p>
            <p class="artist_name"><a href="/ctc1000/mariana-ramos-ortiz">Mariana Ramos Ortiz</a></p>
            <p class="artist_name"><a href="/ctc1000/yasemin-sarihan">Yasemin Sarihan</a></p>
            <p class="artist_name"><a href="/ctc1000/ligia-carabarin-amiguet">Ligia Carabarin-Amiguet</a></p>
            <!-- <p class="artist_name"><a href="/ctc1000/nick-knezevich">Nick Knezevich</a></p> -->
            <p class="artist_name"><a href="/ctc1000/truman-lesack">Truman Lesack</a></p>
            <p class="artist_name"><a href="/ctc1000/jacob-lightman">Jacob Lightman</a></p>
            <!-- <p class="artist_name"><a href="/ctc1000/sanjana-govind-masurkar">Sanjana Govind Masurkar</a></p> -->
            <p class="artist_name"><a href="https://xiiivhedron.cargo.site/">Sanjana Govind Masurkar</a></p>
            
            <p class="artist_name"><a href="/ctc1000/shuyuan-zheng">Shuyuan Zheng</a></p>
            <!-- <p class="artist_name"><a href="/ctc1000/sumanth-mysore-krishna">Sumanth Mysore Krishna</a></p> -->
            <p class="artist_name"><a href="https://xiiivhedron.cargo.site/">Sumanth Mysore Krishna</a></p>
            <p class="artist_name"><a href="/ctc1000/erika-ng">Erika Ng</a></p>
            <p class="artist_name"><a href="/ctc1000/jade-ning">Jade Ning</a></p>
            <p class="artist_name"><a href="/ctc1000/manmeet-sodhi">Manmeet Sodhi</a></p>
            <p class="artist_name"><a href="/ctc1000/yuan-tao">Yuan Tao</a></p>
            <p class="artist_name"><a href="/ctc1000/yi-yang">Yi Yang</a></p>
        </div>

        

        <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p>
        </div>
    </div>
  </body>
</html>