
<html>
  <head>
    <meta charset="utf-8">
    <title>ctc-1000</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
      <div id="page_ctc1000" class="page">
      	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></h1>
        <h2>CTC-1000</h2>
        <p>Computation, Technology, and Culture: Introduction to Computation</p>

        <div class="artist_roster">
            <p class="artist_name"><a href="/ctc1000/arayla-bakhat-baketebaike">Arayla Bakhat Baketebaike</a></p>
            <p class="artist_name"><a href="/ctc1000/mariana-ramos-ortiz">Mariana Ramos Ortiz</a></p>
            <p class="artist_name"><a href="/ctc1000/yasemin-sarihan">Yasemin Sarihan</a></p>
            <p class="artist_name"><a href="/ctc1000/ligia-carabarin-amiguet">Ligia Carabarin-Amiguet</a></p>
            <p class="artist_name"><a href="/ctc1000/tianyue-he">Tianyue He</a></p>
            <p class="artist_name"><a href="/ctc1000/nick-knezevich">Nick Knezevich</a></p>
            <p class="artist_name"><a href="/ctc1000/truman-lesack">Truman Lesack</a></p>
            <p class="artist_name"><a href="/ctc1000/jacob-lightman">Jacob Lightman</a></p>
            <p class="artist_name"><a href="/ctc1000/sanjana-govind-masurkar">Sanjana Govind Masurkar</a></p>
            <p class="artist_name"><a href="/ctc1000/cameron-nayeri">Cameron Nayeri</a></p>
            <p class="artist_name"><a href="/ctc1000/shuyuan-zheng">Shuyuan Zheng</a></p>
            <p class="artist_name"><a href="/ctc1000/sumanth-mysore-krishna">Sumanth Mysore Krishna</a></p>
            <p class="artist_name"><a href="/ctc1000/erika-ng">Erika Ng</a></p>
            <p class="artist_name"><a href="/ctc1000/jade-ning">Jade Ning</a></p>
            <p class="artist_name"><a href="/ctc1000/manmeet-sodhi">Manmeet Sodhi</a></p>
            <p class="artist_name"><a href="/ctc1000/yuan-tao">Yuan Tao</a></p>
            <p class="artist_name"><a href="/ctc1000/yi-yang">Yi Yang</a></p>
        </div>

        

        <div class="canvasContainer">
    	    <!-- <div id="p5sketch0" class="p5Canvas"></div>
    	    <div id="p5sketch1" class="p5Canvas"></div>
    	    <div id="p5sketch2" class="p5Canvas"></div> -->

        <!--
          <div id="image0" class="p5Canvas"><img src="/assets/blueprint1.jpg" alt="some alt text" width="360px" height="270px"></div>

            <div id="image1" class="p5Canvas"><img src="/assets/blueprint2.jpg" alt="some alt text" width="360px" height="270px"></div>

            <div id="image2" class="p5Canvas"><img src="/assets/blueprint3.jpg" alt="some alt text" width="360px" height="270px"></div>

            <div id="image3" class="p5Canvas"><img src="/assets/blueprint4.jpg" alt="some alt text" width="360px" height="270px"></div>

            <div id="image4" class="p5Canvas"><img src="/assets/blueprint5.jpg" alt="some alt text" width="360px" height="270px"></div>

            <div id="image5" class="p5Canvas"><img src="/assets/blueprint6.jpg" alt="some alt text" width="360px" height="270px"></div>

            <div id="image6" class="p5Canvas"><img src="/assets/blueprint7.jpg" alt="some alt text" width="360px" height="270px"></div>
        </div> 
        -->

        <!-- FIRST CANVAS -->
        <script>
        // This block of code creates a canvas element that contains
        // a grayscale live video capture
        const s0 = ( sketch ) => {

        	let capture;

        	let dashDist = [5, 5];
    	    		
        	sketch.setup = () => {
        		sketch.createCanvas(300, 300);
        		sketch.background(255);
    			sketch.stroke(0, 0, 255);

    			//capture = sketch.createCapture(sketch.VIDEO);
      			//capture.hide();
        	}

        	sketch.draw = () => {

        		//sketch.image(capture, 0, 0, sketch.width, sketch.width * capture.height / capture.width);
        		
                //sketch.image(capture, 0, 0, sketch.width, 300);
      			//sketch.filter(sketch.GRAY);
        	
    		};
        };

        let myp5_0 = new p5(s0, 'p5sketch0');

        </script>

        <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">RISD:CTC-1000</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">RISD:CTC-3002</a></p>
            <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
            <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
            <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
        </div>
    </div>
  </body>
</html>