
<html>
  <head>
    <meta charset="utf-8">
    <title>ctc-2000</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
    <div id="page_ctc2000" class="page">
      	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
        <h2>Ambient Interfaces</h2>
        <p class="description">Works that utilize physical interactive systems. Created by students in <a href="https://www.risd.edu/">RISD</a>'s <b>Ambient Interfaces</b> course, part of the <a href="https://www.risd.edu/academics/digital-media/">Computation, Technology, and Culture</a> undergraduate concentration.</p>


        <div class="artist_roster">
            <p class="artist_name"><a href="/ctc2000/aishwarya-bagaria">Aishwarya Bagaria</a></p>
            <p class="artist_name"><a href="/ctc2000/maya-campbell">Maya Campbell</a></p>
            <!-- <p class="artist_name"><a href="/ctc3002/zack-davey">Maggie Chang</a></p> -->
            <!-- <p class="artist_name"><a href="/ctc3002/chanel-lee">Indrashish Dutta Roy</a></p>
            <p class="artist_name"><a href="/ctc3002/camille-cady-mccrea">Juyun Han</a></p> -->
            <!-- <p class="artist_name"><a href="/ctc3002/maggie-guo">Xinyi Hu</a></p> -->
            <p class="artist_name"><a href="/ctc2000/yujin-hwang">Yujin Hwang</a></p>
            <p class="artist_name"><a href="/ctc2000/katrina-machado">Katrina Machado</a></p>
            <p class="artist_name"><a href="/ctc2000/mariana-ramos-ortiz">Mariana Ramos-Ortiz</a></p>
            <p class="artist_name"><a href="/ctc2000/owen-wang">Owen Wang</a></p>
            <p class="artist_name"><a href="/ctc2000/shuyuan-zheng">Shuyuan Zheng</a></p>
           
        </div>


        <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">GALLERY 1</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">GALLERY 2</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p>
        </div>
    </div>
  </body>
</html>