
<html>
  <head>
    <meta charset="utf-8">
    <title>ctc-3002</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
  	<h1><a style="text-decoration:none" href="/">NON-LIEUX</a></h1>
    <h2>CTC-3002</h2>
    <p>Computation, Technology, and Culture: Interdisciplinary Critique</p>
  </body>
</html>