
<html>
  <head>
    <meta charset="utf-8">
    <title>ctc-3002</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
    <div id="page_ctc3002" class="page">
      	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
        <h2>AFTERIMAGES: GALLERY 2</h2>
        <p class="description">Afterimages gallery 2 forms a collection of works that utilize computational tools and concepts as either medium, technique, or subject matter and were created by students in <a href="https://www.risd.edu/">RISD</a>'s <b>Interdisciplinary Critique</b> course, part of the <a href="https://ctc.risd.edu/">Computation, Technology, and Culture</a> concentration.</p>

         <p class="description">While many of the works included here were conceived before the shift to remote learning caused by the pandemic, and do not directly address related issues, none are wholly uninfluenced.</p>

        <p class="description">As a negative has a printed pair in photography, so too do the works displayed here have their twin in a pre-COVID-19 moment.</p>

        <div class="artist_roster">
            <p class="artist_name"><a href="/ctc3002/diego-espinoza">Diego Espinoza</a></p>
            <!-- <p class="artist_name"><a href="/ctc3002/lily-douglas">Lily Douglas</a></p> -->
            <p class="artist_name"><a href="https://lilydouglas.squarespace.com/cvharmony">Lily Douglas</a></p>
            <p class="artist_name"><a href="/ctc3002/lisha-nie">Lisha Nie</a></p>
            <p class="artist_name"><a href="/ctc3002/zack-davey">Zack Davey</a></p>
            <p class="artist_name"><a href="/ctc3002/chanel-lee">Chanel Lee</a></p>
            <p class="artist_name"><a href="/ctc3002/camille-cady-mccrea">Camille Cady-McCrea</a></p>
            <p class="artist_name"><a href="/ctc3002/maggie-guo">Maggie Guo</a></p>
            <!-- <p class="artist_name"><a href="/ctc3002/rory-hernandez-romero">Rory Hernandez-Romero</a></p> -->
            <p class="artist_name"><a href="/ctc3002/tommy-ohalleran">Tommy O'Halleran</a></p>
            <p class="artist_name"><a href="/ctc3002/madison-sheldon">Madison Sheldon</a></p>
            <p class="artist_name"><a href="/ctc3002/kai-stewart">Kai Stewart</a></p>
           
        </div>


        <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p>
        </div>
    </div>
  </body>
</html>