
<html>
  <head>
    <meta charset="utf-8">
    <title>ctc-3002</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css">
  </head>
  <body>
    <h2>CTC-3002</h2>
    <p>Computation, Technology, and Culture: Interdisciplinary Critique</p>
  </body>
</html>