
<html>
  <head>
    <meta charset="utf-8">
    <title>dm-2132</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
    <div id="page_dm2132" class="page">
      	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
        <h2>Code As Medium</h2>
        <p class="description">Works that utilize computational tools and concepts as either medium, technique, or subject matter. Created by students in <a href="https://www.risd.edu/">RISD</a>'s <b>Code As Medium</b> course, part of the <a href="https://www.risd.edu/academics/digital-media/">Digital + Media</a> MFA program.</p>


        <div class="artist_roster">
            <!-- <p class="artist_name"><a href="/ctc3002/diego-espinoza">Kyros Barton</a></p> -->
            <p class="artist_name"><a href="/dm2132/zhanyi-chen">Zhanyi Chen</a></p>
            <p class="artist_name"><a href="/dm2132/wen-yu-du">Wen-Yu Du</a></p>
            <p class="artist_name"><a href="/dm2132/chang-hong">Chang Hong</a></p>
            <p class="artist_name"><a href="/dm2132/kathryn-jarvinen">Kathryn Jarvinen</a></p>
            <p class="artist_name"><a href="/dm2132/kai-ji">Kai Ji</a></p>
            <p class="artist_name"><a href="/dm2132/zixin-li">Zixin Li</a></p>
            <p class="artist_name"><a href="/dm2132/yuhan-ma">Yuhan Ma</a></p>
            <p class="artist_name"><a href="/dm2132/jack-madden">Jack Madden</a></p>
            <!-- <p class="artist_name"><a href="/dm2132/nupoor-maduskar">Nupoor Maduskar</a></p> -->
            <p class="artist_name"><a href="/dm2132/shelby-shaw">Shelby Shaw</a></p>
            <p class="artist_name"><a href="/dm2132/travess-smalley">Travess Smalley</a></p>
           
        </div>


        <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>
    </div>
  </body>
</html>