
<html>
  <head>
  
  	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34986765-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-34986765-4');
	</script>

    <meta charset="utf-8">
    <title>PLACES INSTEAD cyber gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>

    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
  	<div id="page_home" class="page">
	  	
	  	<div class="text_container">
		    <h1 style="color:rgb(255,255,255);letter-spacing:2px;">PLACES INSTEAD</h1>
		    <p class="sub"style="color:rgb(255,255,255)">cyber gallery</p>


		    <!-- <h1 style="color:rgb(255,255,255);letter-spacing:2px;">AFTERIMAGES</h1>
		    <p class="sub"style="color:rgb(255,255,255)">OPENING 05/25/2020</p> -->

		    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(255,255,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(255,255,255)" href="/current">CURRENT SHOWS</a></p><!-- 
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(255,255,255)" href="/ctc2000">GALLERY 3</a></p>
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(255,255,255)" href="/ctc3001">GALLERY 4</a></p>
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(255,255,255)" href="/dm2132">GALLERY 5</a></p> -->
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(255,255,255)" href="/archive">ARCHIVE</a></p>
	    </div>
	    </div>

	    <div class="canvasContainer">
			    <div id="p5sketch0" class="p5CanvasElt" alt="a generative artwork. a fat blue line scribbles across a white field. it reveals the name of the gallery and navigation links that, written in white, were otherwise invisible. this same artwork will never be created again."></div>
		    </div>

	    <script>
	    const s0 = ( sketch ) => {

			let x;
			let y;
			let px;
			let py;

			let magnitude = 25;

			let windowWidth = sketch.displayWidth;
			let windowHeight = sketch.displayHeight;

			let bounds = {
				"width": 400,
				"height": 200
			}

			let canvas;
		    		
	    	sketch.setup = () => {
	    		canvas = sketch.createCanvas(windowWidth, windowHeight);

	    		//canvas.position(0, 0);
			  	canvas.style('z-index',  '-1');

			  	var locx = (sketch.windowWidth - sketch.width) / 2;
				  var locy = (sketch.windowHeight - sketch.height) / 2;
				  canvas.position(locx, locy);

	    		sketch.background(255);
				sketch.stroke(0, 0, 255);
				sketch.strokeWeight(45);
				
				x = windowWidth/2;
				y = windowHeight/2;

				//sketch.rect(windowWidth/2 - bounds.width/2, windowHeight/2 - bounds.height/2, bounds.width, bounds.height);

	    	}

	    	sketch.draw = () => {

	    		let offset = sketch.floor(sketch.random(0,100));

			    px = x;
				py = y;

				x += sketch.random(magnitude * -1, magnitude);
				y += sketch.random(magnitude * -1, magnitude);

				sketch.line(px, py, x, y);
				sketch.line(px - offset, py - offset, x - offset, y - offset);
				sketch.line(px + offset, py + offset, x + offset, y + offset);


				// Keep the walker inside the X fence
				if(x >= windowWidth/2 + bounds.width/2){
					x -= (magnitude * 2); 
				} else if(x <= windowWidth/2 - bounds.width/2){
					x += (magnitude * 2);
				}

				// Keep the walker inside the Y fence
				if(y >= windowHeight/2 + bounds.height/2){
					y -= (magnitude * 2); 
				} else if(y <= windowHeight/2 - bounds.height/2){
					y += (magnitude * 2);
				}

				
			};

			sketch.mousePressed = () => {
				
				x = sketch.mouseX;
				y = sketch.mouseY;
				//sketch.stroke(sketch.random(25, 150), sketch.random(25, 150), 200);
			};

			sketch.mouseDragged = () => {
				sketch.line(sketch.pmouseX, sketch.pmouseY, sketch.mouseX, sketch.mouseY);
			};
			
	    };

	    //let myp5_0 = new p5(s0);
	    let myp5_0 = new p5(s0, 'p5sketch0');

	    </script>

	  </div>
  </body>
</html>