

<html>
  <head>
  
    <meta charset="utf-8">
    <title>uvm</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/public/assets/uvm_style.css"> -->
    <link rel="stylesheet" type="text/css" href="/views/assets/uvm_style.css">
  </head>
  <body>
  	<div id="page_uvm" class="page">
	  
	    <p class="header">PERSPECTIVES ON MAKING</p>
	    <p>alone together</p>

	    <div class="canvasContainer">
    	    
          <div id="image0" class="p5Canvas"><img src="/assets/43690017.JPG" alt="some alt text" width="700px" height="464px"></div>

        </div>

	   <!-- <div class="canvasContainer">
		    <div id="p5sketch0" class="p5CanvasElt"></div>
		    <div id="p5sketch1" class="p5CanvasElt"></div>
		    <div id="p5sketch2" class="p5CanvasElt"></div>
	    </div> -->

	    
	  </div>
  </body>
</html>