
<html>
  <head>
    <meta charset="utf-8">
    <title>CTC Course Page</title>
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css">
  </head>
  <body>
    <h2>Home</h2>
    <p>this is the page for week 6</p>
  </body>
</html>