
<html>
  <head>
    <meta charset="utf-8">
    <title>Katrina Machado
</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">KATRINA MACHADO</a></h1>
	    	<p><a href="https://katrinamachado.com ">Katrina Machado
</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Circuit Play - 2020</p>

        <img src="/assets/katrina1.jpg" width="600px" alt="">
        <br><br>


        <p class="description">Circuit Play explores interactive and experiential learning about circuits and form-making for children. Using plywood and acrylic shapes wrapped in copper foil, a child (or group of children) can construct forms that sense human touch to power motors and lights. </p>

        <p class="description">The learning tool uses capacitive touch sensors connected to servo motors and LED lights and allows for opportunities to create compound outcomes as pieces can fit together and be touched to turn on multiple elements at a time. </p>

        <p class="description">Circuit Play encourages free play and intuitive learning through experiments and physically interaction. There are infinite ways to put pieces together, with no single right way to use. Its aim is to expand the ways we teach and learn about circuits and conductivity.</p>

        <video id="media_player" class="inner" width="600px"  alt="" controls>
          <source src="/assets/katrina_movie.mp4" type="video/mp4">
        </video>
        <br><br>


        <img src="/assets/katrina2.jpg" width="600px" alt="">
        <br><br>
        <img src="/assets/katrina3.jpg" width="600px" alt="">

        <br>

			  

       
        
		  </div>


	  </div>
  </body>
</html>