
<html>
  <head>
    <meta charset="utf-8">
    <title>Mariana Ramos-Ortiz
</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">MARIANA RAMOS-ORTIZ</a></h1>
	    	<p><a href="https://www.instagram.com/la.habichuela/">Mariana Ramos-Ortiz</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Canción para estrellarse* - 2020</p>

        <video id="media_player" class="inner" width="600px"  alt="" controls>
          <source src="/assets/mro_movie.mp4" type="video/mp4">
        </video>

        <br>

			  <p class="description">Canción para estrellarse* (Song to crash) is a musical instrument and video performance that explores the colonial relationship imposed on Puerto Rico by the United States. </p>

        <p class="description">The quarter is an object of ambiguity. One side a state, the other a colony? Territory? Archipélago? It’s a gesture of imperial benevolence—memorabilia that reminds us about who’s bodies and spaces come at the expense of the colonial and imperial powers of the United States.</p>

        <p class="description">*The title comes from a translation of the “Star Spangled Banner” in Spanish. Many of these translations included the word “estrellado” or “estrellarse” which  is a homonym that can mean “starry” or “crash”.</p>

        <img src="/assets/mro1.jpg" width="600px" alt="">
        <br>
        <img src="/assets/mro3.jpg" width="400px" alt="">
        
		  </div>


	  </div>
  </body>
</html>