
<html>
  <head>
    <meta charset="utf-8">
    <title>Maya Campbell</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">MAYA CAMPBELL</a></h1>
	    	<p><a href="mayacampbell.org">Maya Campbell</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Button Hijack - 2020</p>

        <img src="/assets/maya_circuit2.jpg" width="600px" alt="">
        <br><br>
        <p class="description">Button Hijack is a complicated solution for a simple problem. In order to control my ring light for zoom calls I need to reach under my computer monitor and between two tripods. Due to the power requirements of the ring light normal usb extensions do not work with the light, so the buttons needed to be extended in some way. After initial tests using pull-up resistors and internal pullups for mosfets, the buttons were successfully hijacked using an Arduino and BC547 transistors. The ring light buttons can be controlled through two ways, using F21-F24, and using a built out macro pad from the Arduino. F21-F24 are controlled via a processing script that hooks into the Arduino. The macro pad is hooked directly into the Arduino via mx switch breakout boards.</p>
        <img src="/assets/maya_circuit1.jpg" width="600px" alt="">
        <br><br>
        <img src="/assets/maya_circuit3.png" width="600px" alt="">
        <br><br>
        <img src="/assets/maya_circuit4.png" width="600px" alt="">

		  </div>


	  </div>
  </body>
</html>