
<html>
  <head>
    <meta charset="utf-8">
    <title>Owen Wang</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">OWEN WANG</a></h1>
	    	<p><a href="https://owenwang.me/#/water-awareness-1/">Owen Wang</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">WATER AWARENESS - 2020</p>

            <iframe src="https://player.vimeo.com/video/478033506" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    


            <p class="description">There is a lack of action despite the awareness of environmental issues like pollution and resource depletion, this is an attempt on creating alternate solutions to inspire action. </p>

            <p class="description">4 products that provide first-hand experiences surrounding water-scarcity and reusable water (rain and greywater).  </p>

            <p class="description">1. Water Saving Kit </p>

            <p class="description">2. Irrigation with Effort </p>

            <p class="description">3. Poetic Rain </p>

            <p class="description">4. White, Grey, and Black Water </p>

            <img src="/assets/owen-overall.jpeg" width="600px" alt="">
			 
        
		</div>


	  </div>
  </body>
</html>