
<html>
  <head>
    <meta charset="utf-8">
    <title>Shuyuan Zheng</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">SHUYUAN ZHENG</a></h1>
	    	<p><a href="https://shuyuanz.com/">Shuyuan Zheng</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Work as Religion - 2020</p>

        <img src="/assets/spintop2.gif" width="600px" alt="">
        <br><br>
        <img src="/assets/spintop1.png" width="600px" alt="">

			  <p class="description">Following a religious purpose and aesthetics, adopting the idea of meditation and faith-based work lifestyle, the kit was designed consisting of two parts: A driver and a disc-shaped storage media. The driver and the disc will be assembled to construct a spinning top-looking tool, recording the number of rotations during work time cumulatively. Individuals will start the spinning top while the task starts, pauses it and detaches the parts when the work is complete.</p>

        <p class="description">The personalized data will be recorded on the disc; archived on the cloud, it can be accessed through the portal by the individual and community members as well. The data set of each individual will become a representation of their devotion to the work, which in this case means the quantified meaning and purpose achieved in their life.</p>

        <p class="description">The kit is provided as a part of a service, approached by participants in the form of a subscription. This service is completely free, voluntary, and can be unsubscribed anytime.</p>

        <p class="description">With this project, we imagined a society with sufficient productivity to provide basic needs for everyone. We initiated a protocol that assembles traditional religion and the way believers obtain motivation and purpose of life through praying. It is a new religion of atheism, in which working becomes the ultimate source of meaning in one's life. Through the project, we question the post-humanist perspective and explore the possibility of humans reclaiming freewill while reclaiming purpose for themselves in a speculative scenario.</p>

        <p class="description">Collaboration with Aishwarya Bagaria</p>
        
		  </div>


	  </div>
  </body>
</html>