
<html>
  <head>
    <meta charset="utf-8">
    <title>Yujin Hwang
</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">Yujin Hwang</a></h1>
	    	<p><a href="https://drive.google.com/file/d/1TvhkO_XdzeCT48hr35xrUuDnP7OWsnGW/view?usp=sharing">Yujin Hwang</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">Smart Hologram Box - 2020</p>

            <video id="media_player" class="inner" width="600px"  alt="" controls>
                <source src="/assets/holobox.mp4" type="video/mp4">
            </video>


            <p class="description">These days, devices like AI speakers or Smart mirrors give us date, temperature, weather or other useful information to us with sound or display. I started from how those information could be delivered in a different way. A DIY hologram pyramid allows people to get the information through holographic. 
            </p>

            <p class="description">Smart Hologram Box brings weather data from Openweather website. Depends on the temperature, UI color and information changes. In this project, I used p5.js for coding and Raspberry pi for getting information through WiFi. </p>


		</div>


	  </div>
  </body>
</html>