
<html>
  <head>
    <meta charset="utf-8">
    <title>Cameron Nayeri</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_cameron.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	    
	    <div class="post_container">
	    	<div class="text_container">
	    		<p class="project_title">Relations Compressed - Cameron Nayeri</p>
	    		<p class="project_subtitle">Distorted connections during the COVID-19 lockdown</p>
		    </div>
		    <div class="image_container">
		    	<div class="inner"><img src="/assets/compression0.jpg" alt="sea of green, digital,compression artifacts. screenshot from a video call"></div>
		    	<div class="inner"><img src="/assets/compression.jpg" alt="image of a painted canvas representing the digital artifacts from the first image"></div>
		    	<div class="inner"><img src="/assets/compressed.jpg" alt="photograph taken of the painted canvas from the second image, digitally compressed"></div>
		    	<div class="inner"><img src="/assets/compressedx2.jpg" alt="the third image compressed further"></div>
		    </div>

	    </div>


	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;" href="/ctc3002">GALLERY 2</a></p>
	    </div>


	  </div>
  </body>
</html>