
<html>
  <head>
    <meta charset="utf-8">
    <title>Erika Ng</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/public/assets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/views/assets/style_erika.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <p class="project_title">R E V E A L</p>
	    <div class="slider_container"><img src="/assets/erika_slider.png"></div>
	    <p class="artist_name">ERIKA NG</p>
	    <p class="description"><i>This project explores the abstraction of photos through pixelation. The series centers around micorscopic images that remain unseen to the naked eye. The exhibition aims to serve as a microsope that reveals these obscurred images by swiping right.</i></p>


	    <div class="image_container">
			<div class="inner"><img src="/assets/Test3-1.png" alt=""></div>
			<div class="inner"><img src="/assets/Test3-2.png" alt=""></div>
			<div class="inner"><img src="/assets/Test3-3.png" alt=""></div>

			<div class="inner"><img src="/assets/Test2-1.png" alt=""></div>
			<div class="inner"><img src="/assets/Test2-2.png" alt=""></div>
			<div class="inner"><img src="/assets/Test2-3.png" alt=""></div>

			<div class="inner"><img src="/assets/Test1-1.png" alt=""></div>
			<div class="inner"><img src="/assets/Test1-2.png" alt=""></div>
			<div class="inner"><img src="/assets/Test1-3.png" alt=""></div>
		</div>
	    

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;" href="/ctc3002">GALLERY 2</a></p>
	    </div>
	  </div>
  </body>
</html>