
<html>
  <head>
    <meta charset="utf-8">
    <title>Jacob Lightman</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_jacob.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></h1>
	    <!--<p>the artist is not present</p>-->

	    

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">SHOW 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>

		<h1 class="project_title">Instantaneous Roadtrip on America's Loneliest Road</h1>
	    <h3 class="artist_name">Jacob Lightman</h3>

	    <div class="post_container">
		    <div class="image_container">
		    	<img src="/assets/NEVADA.gif" width="800px" class="main_img" alt="The colors of the sky and ground of the Nevada desert landscape streak and glitch across the screen. Thin frames of these views along the road move across the screen and blur together.">
		    	<img src="/assets/stills_0003.png" width="300px" class="sub_img">
		    	<img src="/assets/stills_0005.png" width="300px" class="sub_img">
		    </div>

		    <div class="description_container">
		    	<p class="description">Recent isolation has had me missing adventure. Instantaneous Roadtrip on America's Loneliest Road attempts to create an ephemeral exploration of physical space by collecting images of real, physical places using Google's streetview API along Nevada's Route 50 highway (known as America's Loneliest Road) and reconstituting them. </p>

		    	<p class="description">The views streak and blend together to create a simultaneous glimpse of the totality of the landscape.</p>

		    </div>

	    </div>

	</div>
  </body>
</html>