
<html>
  <head>
  <meta charset="utf-8">
    <title>Jade Ning</title>
	<link rel="stylesheet" type="text/css" href="/views/assets/style_jade.css">
  </head>

  <body>
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-5">
          <h1 class="h1">
          An Augmented <br>Reality Exhibition
          </h1>
          <div class="figcap">
            <p>This project is an augmented exhibition that exists in the absence of physical materials and spaces. AR is always something I want to learn, especially in the current circumstance — when our connection with the physical world is restricted and many human activities shift from offline to online. I was inspired by the furniture sellers that offer their customers AR experience to see how a piece of furniture would look like in the customers’ home. With the code I wrote, I achieved a similar goal — I was able to put the works I did which are stored in my laptop into the real world. The experience of creating an AR exhibition of my own also makes me think more in-depth about the relationship between human beings, space, and technology.</p>
          </div>
        </div>
        <div class="col-1">
          <aside>
          <ul>
            <li>Jade Ning</li>
            <li>Language used: Swift</li>
            <li>Software used: Xcode</li>
          </ul>
        </aside>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
</header>



    <section>
      <div class="container">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/logo.gif" class="responsive" alt="a logo on an ovan">
             </div>
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif2.gif" class="responsive" alt="a drawing floating in the air">

             </div>
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif3.gif" class="responsive" alt="an AR book among several real books">

             </div>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </section>



    <section>
      <div class="container">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif4.gif" class="responsive" alt="The scene outside the window of different times overlap">

             </div>
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif5.gif" class="responsive" alt="an inllustrated gif in a closet">

             </div>
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif9.gif" class="responsive" alt="a computered generated piece of art attached on wall with AR technology">
             </div>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif6.gif" class="responsive" alt="a poster attached to a door">
             </div>
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif7.gif" class="responsive" alt="a poster attached to a door">
             </div>
          </div>
          <div class="col-2">
            <div class="imgcap">
				           <img src="/assets/gif8.gif" class="responsive" alt="a poster attached to a door">
             </div>
          </div>

          <div class="col-1">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="pageend"></div>
    </section>

  </body>
</html>