
<html>
  <head>
    <meta charset="utf-8">
    <title>Ligia Carabarin-Amiguet</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/views/assets/style_ligia.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <!-- <p class="site_name"><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></p>
	    
	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">GALLERY 2</a></p>
	    </div> -->

	    <div class="container">
		  <h2>TODAY, my name will be</h2>  
		  <div id="myCarousel" class="carousel slide" data-ride="carousel">
		    <!-- Indicators -->
		    <ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>

		    <!-- Wrapper for slides -->
		    <div class="carousel-inner">
		      <div class="item active">
		        <img src="/assets/ligia_1.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_2.png" alt="" style="width:100%">
		      </div>
		    
		      <div class="item">
		        <img src="/assets/ligia_3.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_4.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_5.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_6.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_7.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_8.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_9.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_10.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_11.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_12.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_13.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_14.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_15.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_16.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_17.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_18.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_19.png" alt="" style="width:100%">
		      </div>

		      <div class="item">
		        <img src="/assets/ligia_20.png" alt="" style="width:100%">
		      </div>

		    </div>


		    <!-- Left and right controls -->
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right"></span>
		      <span class="sr-only">Next</span>
		    </a>
		  </div>
		</div>
	  </div>
  </body>
</html>