
<html>
  <head>
    <meta charset="utf-8">
    <title>Manmeet Sodhi</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_manmeet.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">PLACES INSTEAD</a></h1>
	    
	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">GALLERY 2</a></p>
	    </div>

	    <h1 class="project_title">Not What You Wanted</h1>
	    <h3 class="artist_name">Manmeet Sodhi</h3>

	    <div class="media_container">
			<video class="media_player" width="640"  alt="placeholder alt text" controls>
			  <source src="/assets/manny.mkv" type="video/mp4">
			</video>
		</div>

	    <div class="description_container">
	    	<p class="description">This website is designed to create the anticipation of delivering a perfect logo, like most websites promised. As a Graphic Designer in the 21st Century, there is a certain bane that hinders the reputation of the field that pops up all the time. I have been exposed to such “perfect” logo generators and they are far from what it means to work with an actual designer. I wanted to highlight this machine to client relationship by creating a satirical website that plays on anticipation and expectation. The result, presented at the end of the process, is a truth that comes out of these “amazing” alternatives to the human aspect of working with a Graphic Designer.</p>
	    </div>

	    

	  </div>
  </body>
</html>