
<html>
  <head>
    <meta charset="utf-8">
    <title>Marian Ramos Ortiz</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/style_mariana.css">
  </head>
  <body>
	
	<STYLE>A  {text-decoration:none;} </STYLE>
	<div id="main-grid">
		<a target="_blank" href="https://www.instagram.com/la.habichuela/" >Mariana Ramos-Ortiz</a>
		<h1>is interested in exploring intersections between colonialism and technology.</h1>
		<div class="project-grid-style" id="project-grid">
			<a target="_blank" href="mariana_p1">[P1]</a> <a target="_blank" href="https://www.are.na/mariana-r-o/colonialism-and-technology-archive">[P2]</a> <a target="_blank" href="mariana_p3">[P3]</a>
		</div>
	</div>
 
  </body>
</html>