<html>
	<head>
		<meta charset="utf-8">
    	<title>Marian Ramos Ortiz</title>
    	<link rel="stylesheet" type="text/css" href="/views/assets/style_mariana.css">

		<title>[P1]</title>
	</head>
	<body id="p1-grid">
		<div>
			<h2>&ltoption&gt Colony &lt/option&gt</h2>
			<p>When I approach digital forms I always ask myself "will Puerto Rico be a Country, a State or neither today?" Whether I input "Puerto Rico" as a "Country" or "State" it always feels like I am answering the question incorrectly. Puerto Rico is a Colony. A Colony of the United States of America.</p>

			<p>Through a series of actions I use the inspect tool to question the constraints of online forms, speculate my existence as a colonial subject within them and understand how technologies uphold colonial narratives that deny the existence of a colony in the 21st century.</p>
		</div>
		<video width="920" height="575" controls muted loop autoplay>
			<source src="/assets/eBay_1.mp4" type="video/mp4"> 
				Your browser does not support mp4 videos :(
		</video>
	
		
	</body>

</html>
