<html>
	<head>
		<meta charset="utf-8">
    	<title>Marian Ramos Ortiz</title>
    	<link rel="stylesheet" type="text/css" href="/views/assets/style_mariana.css">

		<title>[P3]</title>
	</head>
	<body id="p3-grid">
		<h2>Muerto Rico</h2>
		<p>When thinking about how the operating practices of colonialism persist today, we’re required to not only think about military occupation and acquisition of land but to also understand that these processes have evolved and now take place in much more abstract and inconspicuous spaces such as the digital space.</p>

		<p>Influenced by Allora and Calzadilla's "Land Mark (Foot Prints), 2001–02" piece I identify how colonialism persists in the global south through the domination of the digital ecosystem. I am specifically referring to the increasing settlement of crypto-bros in Puerto Rico benefiting from "taxless paradise".
		 </p>
	<div>
		<img class="chanclas" src="/assets/chanclas.png" width="1200" height="800">
	</div>
		<img class="sand-dune" src="/assets/sand-dune.png" width="1200" height="800"> 
	</body>

</html>
