
<html>
  <head>
    <meta charset="utf-8">
    <title>Nick Knezevich</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/public/assets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/views/assets/style.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">Nick Knezevich</a></h1>
	    <!--<p>the artist is not present</p>-->

	    

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">SHOW 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>
	  </div>
  </body>
</html>