
<html>
  <head>
    <meta charset="utf-8">
    <title>Poltician Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/views/assets/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/views/assets/style_truman.css">


    <script>
    	document.addEventListener("DOMContentLoaded", function() {
		var lazyloadImages = document.querySelectorAll("img.lazy");    
		var lazyloadThrottleTimeout;

		function lazyload () {
		if(lazyloadThrottleTimeout) {
		  clearTimeout(lazyloadThrottleTimeout);
		}    

		lazyloadThrottleTimeout = setTimeout(function() {
		    var scrollTop = window.pageYOffset;
		    lazyloadImages.forEach(function(img) {
		        if(img.offsetTop < (window.innerHeight + scrollTop)) {
		          img.src = img.dataset.src;
		          img.classList.remove('lazy');
		        }
		    });
		    if(lazyloadImages.length == 0) { 
		      document.removeEventListener("scroll", lazyload);
		      window.removeEventListener("resize", lazyload);
		      window.removeEventListener("orientationChange", lazyload);
		    }
		}, 20);
		}

		document.addEventListener("scroll", lazyload);
		window.addEventListener("resize", lazyload);
		window.addEventListener("orientationChange", lazyload);
		});
    </script>


  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></h1>
	    <!--<p>the artist is not present</p>-->

	    <!-- /assets/10041-15628-12795.jpg -->

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">SHOW 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>

	    <h1 class="project_title">Generating Generic Politicians from Politicians</h1>
	    <h3 class="artist_name">Truman Lesack</h3>

	    <div class="description_container">

	    	<p>
	    	Create a convolutional neural network that references a dataset of every house of representative, senate, and executive cabinet member. Involved uploading portraits of every US senator, representative, governor, and cabinet member into a StyleGAN (General Adversarial Network) to develop a politician generator.
	    	</p>

	    	<p>
	    	Primary motivation is to create a digital tool/platform to create sophisticated cultural artifacts as abstracted portraiture. The process of training and making allows the computer to create “objective” landmark observations through correlations regarding political portraiture. This manages to spawn questions and satirizations about political platforms, the responsibility of presentation, cultural sensibilities, and redefining body aesthetics. 
	    	</p>


	    </div>

	    <div class="image_container">
		    <img src="/assets/10041-15628-12795.jpg"><img src="/assets/10098-31518-24501.jpg"><img src="/assets/10162-19221-24646.jpg"><img src="/assets/10169-31164-8351.jpg"><img src="/assets/10196-993-3047.jpg"><img src="/assets/10197-8384-10858.jpg"><img src="/assets/10248-12032-28508.jpg"><img src="/assets/10248-4191-20022.jpg"><img src="/assets/1029-28107-24425.jpg"><img src="/assets/10328-10395-27803.jpg"><img src="/assets/10357-4180-24369.jpg"><img src="/assets/10402-20502-19814.jpg"><img src="/assets/1045-10307-8226.jpg"><img src="/assets/10467-12773-7837.jpg"><img src="/assets/10470-6432-3109.jpg"><img src="/assets/10496-2821-30970.jpg"><img src="/assets/10499-31079-12085.jpg"><img src="/assets/1050-3484-5782.jpg"><img src="/assets/10511-13330-21144.jpg"><img src="/assets/10520-11114-16038.jpg"><img src="/assets/10600-24349-6208.jpg"><img src="/assets/10605-9556-10120.jpg"><img src="/assets/1062-10990-20621.jpg"><img src="/assets/10642-16144-3266.jpg"><img src="/assets/10651-24416-19314.jpg"><img src="/assets/10667-2386-14281.jpg"><img src="/assets/1071-6297-4709.jpg"><img src="/assets/10759-24738-32585.jpg"><img src="/assets/10774-10887-12922.jpg"><img src="/assets/10799-30620-3319.jpg"><img src="/assets/10865-31333-21475.jpg"><img src="/assets/10879-27340-2885.jpg"><img src="/assets/1088-29236-29038.jpg"><img src="/assets/10887-23409-17661.jpg"><img src="/assets/10891-29975-2678.jpg"><img src="/assets/10973-4335-4248.jpg"><img src="/assets/11-32170-213.jpg"><img src="/assets/11000-28490-13110.jpg"><img src="/assets/11031-7642-12465.jpg"><img src="/assets/11038-6038-17073.jpg"><img src="/assets/11059-892-7718.jpg">

		    <img src="/assets/11068-29094-19755.jpg"><img src="/assets/11080-13428-13062.jpg"><img src="/assets/1109-10931-2858.jpg"><img src="/assets/11109-22218-17179.jpg"><img src="/assets/1112-11161-11159.jpg"><img src="/assets/11131-11159-10745.jpg"><img src="/assets/11160-14802-18406.jpg"><img src="/assets/11187-17462-12669.jpg"><img src="/assets/11251-21955-13501.jpg"><img src="/assets/11260-18147-26824.jpg"><img src="/assets/11261-4226-30146.jpg"><img src="/assets/11272-31511-17883.jpg"><img src="/assets/11312-21209-31074.jpg"><img src="/assets/11329-11857-25107.jpg"><img src="/assets/11332-3652-10656.jpg"><img src="/assets/11379-1724-21279.jpg"><img src="/assets/11400-24992-3915.jpg"><img src="/assets/11405-14947-15695.jpg"><img src="/assets/1141-23099-15983.jpg"><img src="/assets/11412-10916-15515.jpg"><img src="/assets/11439-23189-17264.jpg"><img src="/assets/11505-8312-4449.jpg"><img src="/assets/11514-5727-27981.jpg"><img src="/assets/11532-6693-10515.jpg"><img src="/assets/11537-25161-7082.jpg"><img src="/assets/11546-8733-17616.jpg"><img src="/assets/11570-3267-5024.jpg"><img src="/assets/11601-28663-29924.jpg"><img src="/assets/11627-5243-8781.jpg"><img src="/assets/11637-25932-26598.jpg"><img src="/assets/11767-227-9092.jpg"><img src="/assets/11807-31430-26713.jpg"><img src="/assets/11859-25634-32080.jpg"><img src="/assets/1186-12730-23756.jpg"><img src="/assets/11873-20418-5257.jpg"><img src="/assets/11877-27366-8722.jpg"><img src="/assets/11892-4815-2582.jpg"><img src="/assets/11942-8770-17336.jpg"><img src="/assets/11978-9369-10126.jpg"><img src="/assets/11981-14965-6085.jpg"><img src="/assets/12093-3104-1892.jpg"><img src="/assets/12098-22046-16881.jpg"><img src="/assets/12172-24614-25014.jpg"><img src="/assets/12207-544-9332.jpg"><img src="/assets/12238-19319-23231.jpg"><img src="/assets/12239-24371-10941.jpg"><img src="/assets/1225-4318-30262.jpg"><img src="/assets/12328-21981-3520.jpg"><img src="/assets/12342-31135-30953.jpg"><img src="/assets/12391-22854-10533.jpg"><img src="/assets/12401-21798-1370.jpg"><img src="/assets/12448-32189-12921.jpg"><img src="/assets/12492-4923-9667.jpg"><img src="/assets/12600-9233-31497.jpg"><img src="/assets/12722-19172-2864.jpg"><img src="/assets/12729-17391-20835.jpg"><img src="/assets/12765-31662-40.jpg"><img src="/assets/12780-27780-4515.jpg"><img src="/assets/12803-28749-4811.jpg"><img src="/assets/12819-15712-19431.jpg"><img src="/assets/12836-12423-13450.jpg"><img src="/assets/1287-29574-17977.jpg"><img src="/assets/12884-28638-24223.jpg"><img src="/assets/12893-1265-63.jpg"><img src="/assets/1292-16222-8600.jpg"><img src="/assets/12939-2186-12235.jpg"><img src="/assets/13009-9669-30543.jpg"><img src="/assets/1301-8476-27426.jpg"><img src="/assets/13014-10629-13023.jpg"><img src="/assets/13026-586-3143.jpg"><img src="/assets/13040-875-2150.jpg"><img src="/assets/13044-6961-20829.jpg"><img src="/assets/13079-710-12526.jpg"><img src="/assets/13128-13271-21688.jpg"><img src="/assets/13147-24493-11364.jpg"><img src="/assets/13170-32209-3140.jpg"><img src="/assets/13185-1980-24392.jpg"><img src="/assets/13185-7800-6796.jpg"><img src="/assets/13211-13518-16491.jpg"><img src="/assets/13212-14905-13135.jpg"><img src="/assets/13216-20330-27276.jpg"><img src="/assets/13232-12805-23689.jpg"><img src="/assets/13260-20881-9064.jpg"><img src="/assets/13306-16638-27942.jpg"><img src="/assets/13327-18836-924.jpg"><img src="/assets/13337-21491-24980.jpg"><img src="/assets/13341-11790-396.jpg"><img src="/assets/13342-1000-24264.jpg"><img src="/assets/13349-8170-27118.jpg"><img src="/assets/13360-11696-22713.jpg"><img src="/assets/13361-19008-18030.jpg"><img src="/assets/13388-10658-52.jpg"><img src="/assets/13402-14790-25622.jpg"><img src="/assets/13427-3164-10227.jpg"><img src="/assets/13541-18779-10905.jpg"><img src="/assets/13612-21144-4490.jpg"><img src="/assets/13622-10267-10816.jpg"><img src="/assets/13630-30395-23547.jpg"><img src="/assets/13649-16077-32624.jpg"><img src="/assets/13655-2733-18045.jpg"><img src="/assets/13697-10205-18624.jpg"><img src="/assets/13730-1308-215.jpg"><img src="/assets/13730-27833-11475.jpg"><img src="/assets/13781-17076-10454.jpg"><img src="/assets/13796-23388-25067.jpg"><img src="/assets/13803-8230-24989.jpg"><img src="/assets/13807-27847-16491.jpg"><img src="/assets/13808-997-32504.jpg"><img src="/assets/13834-4917-16092.jpg"><img src="/assets/1384-31597-17905.jpg"><img src="/assets/13845-18238-25192.jpg"><img src="/assets/13890-19108-11163.jpg"><img src="/assets/13891-15676-894.jpg"><img src="/assets/13902-11918-995.jpg"><img src="/assets/13936-20557-5126.jpg"><img src="/assets/13961-18927-24299.jpg"><img src="/assets/1399-10850-3855.jpg"><img src="/assets/14052-20613-26216.jpg"><img src="/assets/14161-19307-21309.jpg"><img src="/assets/14161-29618-27150.jpg"><img src="/assets/14227-10567-9640.jpg"><img src="/assets/14247-11803-11108.jpg"><img src="/assets/14251-30435-31414.jpg"><img src="/assets/14321-5376-11586.jpg"><img src="/assets/1433-9698-5230.jpg"><img src="/assets/14377-26483-14112.jpg"><img src="/assets/14416-2467-14164.jpg"><img src="/assets/14419-3588-1590.jpg"><img src="/assets/14438-11061-5632.jpg"><img src="/assets/14531-19929-21659.jpg"><img src="/assets/14561-28020-10746.jpg"><img src="/assets/14563-3892-30565.jpg"><img src="/assets/14578-2278-11333.jpg"><img src="/assets/14603-25478-31340.jpg"><img src="/assets/1461-11193-260.jpg"><img src="/assets/14635-11748-10354.jpg"><img src="/assets/14641-28756-626.jpg"><img src="/assets/14647-27306-21452.jpg"><img src="/assets/14662-8260-3994.jpg"><img src="/assets/14674-8796-4633.jpg"><img src="/assets/14692-23098-15352.jpg"><img src="/assets/14697-7518-17570.jpg"><img src="/assets/14703-219-6138.jpg"><img src="/assets/14788-16533-1619.jpg">
	    </div>

	  </div>
  </body>
</html>