
<html>
  <head>
    <meta charset="utf-8">
    <title>Yi Yang</title>
    <link rel="stylesheet" type="text/css" href="/views/assets/style_yi.css">
  </head>
  <!-- <body> -->
  <body style="background-image: url('/assets/ghost_in_the_shell3.GIF')";background-size: cover;>
  	<center><div id="page_artist" class="page">

		<!-- Main content -->
		<center><h1><span>The Body Extended</span></h1>
		<center><img src="/assets/IMG_3429.GIF" width="400px" height="500px" alt="">
		<center><img src="/assets/hand.jpg" width="400px" height="500px" alt="">
		<center><img src="/assets/arm.jpg" width="400px" height="500px" alt="">


		<center> <video width="400" height="300" controls>
		  <source src="/assets/yi_video.mp4" type="video/mp4">
		</video>

		<p class="description">This robot enables anyone anywhere to control the involuntary movement of my left arm, using an online interface. I become de-synchronized and perform partly involuntarily.The body has been electronically dismembered, spatially distributed, and possessed with multiple agencies. There was movement but not mobility. I imagined fragmented bodies prompting and remotely guiding each other. This is not about master-slave control mechanisms but feedback-loops of “alternate awareness” and of “split physiologies”.</p>

		<p class="description">Just as Donna Haraway’s “tentacular thinking” and “octopus-shaped machine” theory. Each body “thinks” as well as “senses” the surrounding world with total autonomy, and yet, each body is trapped in a system.  I think about the tension between body and machine in the image of cyborg, which is about conflict and symbiosis. Human beings have sought to extend and supplement their own form to move faster and reach further. Our bodies are becoming more tightly bound to non-organic matter. The transformed and invaded body makes me rethink and recognize the concepts and boundaries of the body and establish new connections and possibilities.</p>


		<!-- Sign and date the page, it's only polite! -->
		<address><span>Made 15 May 2020<br>
		  by Yi Yang.</span></address>



	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(100,100,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(100,100,255)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:underline;color:rgb(100,100,255)" href="/ctc3002">SHOW 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>
	  </div>
  </body>
</html>