
<html>
  <head>
    <meta charset="utf-8">
    <title>Yuan Tao</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_yuan.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  
	    <h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">IN-LIEUX</a></h1>
		
		<div class="header_container">
		    <p class="project_title">PATTERN GRAMMAR</p>
		    <p class="artist_name">Yuan Tao</p>
		    <p class="description">This project is about the grammar of patterns. When it comes to patterns in nature, whether they're two-dimensional or three-dimensional, patterns are recognizable because they fit certain rules. The following experiments explore the complicated roles randomness and certainty can have in creating pleasing patterns.</p>
	    </div>

	    <div class="image_container">
			<div class="inner"><img src="/assets/figure13-IceRay800x530.gif" alt=""></div>
			<div class="inner"><img src="/assets/ice-ray.gif" alt=""></div>
			<p>Ice-Ray Pattern</p>

			<div class="inner"><img src="/assets/pattern_to_light.gif" alt=""></div>
			<p>Wave Pattern</p>

			<div class="inner"><img src="/assets/GameOfLife.gif" alt=""></div>
			<div class="inner"><img src="/assets/3d-gameOfLife.gif" alt=""></div>
			<p>Game of Life</p>

			<div class="inner"><img src="/assets/MINE.gif" alt=""></div>
			<div class="inner"><img src="/assets/3D-minesweeper.gif" alt=""></div>
			<p>Minesweeper</p>

			

			
		</div>

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">SHOW 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">SHOW 2</a></p>
		    <!-- <p class="navItem"><a href="/shows">shows</a></p> -->
		    <!-- <p class="navItem"><a href="/archive">archive</a></p> -->
		    <!-- <p class="navItem"><a href="/week6">week 6</a></p> -->
	    </div>
	  </div>
  </body>
</html>