
<html>
  <head>
    <meta charset="utf-8">
    <title>Chang Hong</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">CHANG HONG</a></h1>
	    	<!-- <p><a href="https://yuhanma.itch.io/game-notes">Chang Hong</a><p> -->
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Syncing Space - 2020</p>

        <img src="/assets/chang1.jpg" width="600px" alt="">

			  <p class="description">Syncing Space is a temporary construction of a city space that exists for only three minutes. It is a space you have to walk through with your fingers and ears.</p>

			  <p class="description">Every three minutes, the space will be reconstructed with a synchronized sound matrix, the matrix contains multiple (for your exploration) sound sources which are captured and presented in synchrony. Each sound source tells a different aspect of a city characteristics, no path particular is designated.</p>

        <p class="description">People might consider Syncing Space as an interactive audio experience, moreover, it is also an architectural representation. The city spaces are constructed not with wood, concrete, or steel, but through immaterialized acoustics.</p>

        <p class="description">Now put on your earphones and dérive in the space!</p>


        <img src="/assets/chang2.jpg" width="300px" alt="words relating to weather patterns projects in white on a dark ceiling">

        <img src="/assets/chang3.jpg" width="300px" alt="words relating to weather patterns projects in white on a dark ceiling">

        <br><br>

        <img src="/assets/chang4.jpg" width="300px" alt="words relating to weather patterns projects in white on a dark ceiling">

        <img src="/assets/chang5.jpg" width="300px" alt="words relating to weather patterns projects in white on a dark ceiling">


        
		  </div>


	  </div>
  </body>
</html>