
<html>
  <head>
    <meta charset="utf-8">
    <title>Wen-Yu Du</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">WEN-YU DU</a></h1>
	    	<p><a href="https://ivydududu.com">Wen-Yu Du</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">
	    	<p class="project_name">SEMILETTER - 2020</p>

	    	<iframe src="https://player.vimeo.com/video/492667444" width="640" height="1138" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/492667444">Semi-Letter_Paper Writing</a> from <a href="https://vimeo.com/user123398738">Wen-Yu Du</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


			<p class="description">When we think of the messages that fly through the screens, how is this information being understood? When we try to communicate our ideas, feelings, and emotions to others, how much of that information is successfully interpreted? Do we really want to be understood? Or sometimes we just want to understand the words without considering. In this project I want to expand this phenomenon of misunderstanding, the moment we hesitate whether we want to be understood or not? And presenting as the poetry, the messages, or the songs, the speaking of voices that need to be decoded. </p>

			<p class="description">I simplify the English letters into the graph, or to call the semi-letters and turn them into code. The letters themselves are codes, the behaviors putting those information inside the script is coding. Using the processing as the tool to generate those semi-letters, we leave the room for what we are speaking, it’s readable and unreadable at the same time, once you get the code of those semi-letters, you can try to decode it and understand the real meanings. I use a pen plotter and Max as the tools to generate the semi-letters poetry and the voices. </p>
		</div>


	  </div>
  </body>
</html>