
<html>
  <head>
    <meta charset="utf-8">
    <title>Jack Madden</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">Jack Madden</a></h1>
	    	<p><a href="https://jmadden.org">Jack Madden</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">Books for Robots (only) - 2020</p>


            <img src="/assets/jack-image1.png" width="600px" alt="">

            <br><br>

            <img src="/assets/jack-image2.jpeg" width="600px" alt="">

            <br><br>

            <img src="/assets/jack-image3.png" width="300px" alt="">


            <img src="/assets/jack-image4.jpeg" width="300px" alt="">

            <br> <br>

            <img src="/assets/jack-image5.png" width="300px" alt="">


            <img src="/assets/jack-image6.png" width="300px" alt="">

            <br> <br>

            <img src="/assets/jack-image7.jpeg" width="300px" alt="">


            <img src="/assets/jack-image8.png" width="300px" alt="">


		  </div>


	  </div>
  </body>
</html>