
<html>
  <head>
    <meta charset="utf-8">
    <title>Kai Ji</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">KAI JI</a></h1>
	    	<p><a href="https://www.instagram.com/kaisuperduper/">Kai Ji</a><p>
	    </div>

	    <div id="navContainer">
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc1000">GALLERY 1</a></p>
		    <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3002">GALLERY 2</a></p>
	    </div>

	    <div class="media_container">
	    	<p class="project_name">Zoombomb - 2020</p>

			<img src="/assets/kai_zoombomb.png" width="600px" alt="image of computer desktop with a pattern of repeating application icons created by a zoom feedback loop">

			<p class="description">Since the beginning of COVID-19, Zoom has become the overnight default method of communication. Sitting in front of Zoom for hours for meetings or remote study is no joke. Numerous scandals and incidences have occurred while using Zoom, and they are now making headlines. Zoom is convenient. Zoom is frustrating. Zoom is glitchy. Zoom is annoying. Zoom is tiring. Zoom is cold. Zoom is unpredictable. Zoom is dangerous. Zoom is insecure. </p>

			<p class="description">This piece, created with Zoom and multiple digital devices that are accessing the same Zoom meeting, highlights the delusion and seemingly never-ending circle we are experiencing during the pandemic.</p>
		</div>


	  </div>
  </body>
</html>