
<html>
  <head>
    <meta charset="utf-8">
    <title>Kathryn Jarvinen</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">KATHRYN JARVINEN</a></h1>
	    	<p><a href="https://dog0d.wwwwwdog0dwwww.wwww.katjarvinen.com/">Kathryn Jarvinen</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">dog0d's poetic spam generator - 2020</p>

        <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/kat1.png" width="600px" alt="">
        <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/kat2.png" width="600px" alt="">
        
        <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/kat3.png" width="600px" alt="">
        <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/kat4.png" width="600px" alt="">
        
        

			  <p class="description">dog0d's poetic spam email generator generates spam emails that provide portals to the dog0d universe. Only those who take emails marked as spam seriously and follow the dangerous links will gain access to dog0d universe. The great dog0d is a dog-like deity who speaks in nonsense, sells copper crystal products, and lives eternally as stone on dog0d mountain.</p>
        
		  </div>


	  </div>
  </body>
</html>