
<html>
  <head>
    <meta charset="utf-8">
    <title>Shelby Shaw</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">SHELBY SHAW</a></h1>
	    	<p><a href="https://shelby-shaw.com/">Shelby Shaw</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">
	    	<p class="project_name">QUANTUM ALBUM HOLOGRAMS - 2020</p>

	 
        <img src="/assets/shelby1.jpg" width="600px" alt="a screenshot of a grasshopper patch">

      <!-- </div> -->


			 <p class="description">Using an archive of over 75 hours of video shot by my late father, I scanned through all footage for clips that featured him on-screen. After parsing each clip into individual frames, I masked each image to isolate my father, and then built 3D models from the subject detected. Instead of creating any semblance of recognizably life-like 3D representations of my father's face, head, or body, the computer generated objects impossible to architecturally understand, draw, or print into the real world. With 388 models created from 53 individual video clips spanning from 1987 to 2004, I wanted a program that would give a better view of the models than looking at static, inert screenshots, since translating the files into material objects (birthing them into the world as existing things) is not possible for the models. Considering how death is an evolution of matter, from living organic material to a debatable variety of soul, spirit, or energy, I approached the 3D models of my father's images as if approaching his own deceased body: the dead are to remain dead, and are not meant to be brought back to life. My 3D models were born-digital into an existence consisting of pixels, RGB, and bytes. They are not of "this" world, of clay or plastic or resin or other 3D-print materials; trying to reincarnate my models as objects on Earth would be a mistake, guaranteed to misrepresent the perfect impossibilities of my models when viewed in their native digital world on-screen. </p>

			 <p class="description">To honor this, I first built a simple 3D Viewer in p5, a tool for loading an .OBJ file of a model and seeing it in 360 degrees, bringing the model closer/farther on the Z-axis by control of the mouse, and taking screenshots with a mouseclick which would autosave the image with the name of the model in the file name, as well as displaying the model name on-screen. This is still a flat way to view the 3D objects though, although it's as honest as I can present them. So to enhance viewing the models, I created holograms to project the models into space, retaining their digital existence, without trying to reincarnate the file into a material physicality. There is still loss—of data, smoothness, the details of a close-up on a computer monitor—but I have successfully animated my 3D models on Earth without creating them in an Earthly form. My hologram p5 program loads a selected model at the press of a key, replicated 4 times in a square formation, translated 90 degrees clockwise at each instance and each rotating along its Y-axis in sync with one another, so that no matter which side of the hologram you look at, you continuously see the same shape rotating in the same position. I fabricated the displays from plexiglass using a calculator I built to determine the trapezoidal faces based on the size of the monitor; each monitor is connected to a Mac Mini running the same p5 program.</p>

		  </div>


	  </div>
  </body>
</html>