
<html>
  <head>
    <meta charset="utf-8">
    <title>Travess Smalley</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">TRAVESS SMALLEY</a></h1>
	    	<p><a href="https://www.are.na/travess-smalley/dm-2132-code-as-medium-notes
">Travess Smalley</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

	    	<p class="project_name">Portrait Generator, Moji Portrait Script v3, 3000 Portraits, 2020</p>

			<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/_lTlgZK29kM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
			<iframe width="600" height="337" src="https://www.youtube.com/embed/_lTlgZK29kM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<p class="description">Portrait Generator, or Moji Portrait Script v3, is a program that rapidly generates portraits. The portraits are geometric and usually rounded. They look like emojis. They are cropped at the chest. The head is large and close to center. The background is solid, or radial, or a gradient. The eyes are usually looking directly back at me. Sometimes they are funny. Sometimes the portraits are missing parts, like a shoulder. Sometimes they aren’t portraits at all, but an edge case in the script where the shapes have merged and what’s left looks abstract or unexpected, or like a picture of a lemon.</p>

			<p class="description">The program is composed of various JavaScript instructions for Photoshop. The instructions are things like: set a circle selection, fill a selection with a color, or fill it with a gradient. The colors, dimensions, and placement are pseudo-randomized with parameters I set in my code. Many of the instructions I write are not specifically designed to always happen but are given a chance of happening. For instance: a 25% chance that the eyes will arch upwards, and then a 50% chance that those eyes will be outlined with another color, a 25% chance that outline will be filled with a two color gradient, and so on. The combinations of random numbers applied to the script variables makes each one unique.</p>
		</div>


	  </div>
  </body>
</html>