
<html>
  <head>
    <meta charset="utf-8">
    <title>Yuhan Ma</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">YUHAN MA</a></h1>
	    	<p><a href="https://yuhanma.itch.io/game-notes">Yuhan Ma</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Game Notes - 2020</p>

        <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/yuhan2.png" width="600px" alt="">

			  <p class="description">This project is my exploration of making an interactive 2D platform by using coding tool Processing and game engine Unity. It’s meant to be interacted with like a small game. In the final version of the project, people are expecting to experience the non-linear stories by clicking with mouse, choosing the icons on the lower right corner. The way that the stories proceed depends on which icon is chosen. The icons are different combinations of the keywords/names that are frequently popped-up. Choosing which keyword to be displayed as an icon at the corner is based on how relevant the keyword is to the story. Some characters’ names might be mentioned but have not contributed much to the story line, and their names would not be an option as an icon. </p>

			  <p class="description">The small reading game is inspired by hypertext novels, which is aiming for giving people choices of which part to read, rather than passively receive what the author has offered as in the traditional reading method. In my project, I hope people could proceed reading by following their curiosity, and have a dynamic and unique reading path. </p>

        <p class="description">This is the link of the online game:  <a href="https://yuhanma.itch.io/game-notes">https://yuhanma.itch.io/game-notes</a></p>
        
		  </div>


	  </div>
  </body>
</html>