
<html>
  <head>
    <meta charset="utf-8">
    <title>Zhanyi Chen</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">ZHANYI CHEN</a></h1>
	    	<p><a href="https://www.zhanyichen.org/">Zhanyi Chen</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

        <p class="project_name">Astrological Concrete Poetry to Clouds Written by Weather Satellites - 2020</p>


        <img src="/assets/zhanyi3.jpg" width="600px" alt="words relating to weather patterns projects in white on a dark ceiling">

        <br>
        <br>

        <img src="/assets/zhanyi2.jpg" width="300px" alt="a screen displaying signal processing visulizations next to a radio transceiver and antenna">

			<p class="description">People pay much attention to the stars' positions (for example, we have zodiac signs, and we make predictions based on star positions), but we don't pay much attention to the satellites' positions. We put our belief into a system of objects. Why can't these objects be the satellites, since we now have so many of them?</p>

			<p class="description">To highlight the importance of the satellites' positions, I wrote a computer program in Processing that makes words move around according to weather satellites' positions, like satellites moving around the earth. I try to create a kind of technological concrete poetry. Because in concrete poetry, the positions of the words are as important as the verbal meanings. </p>

      <p class="description">Humans use the stars' position to predict the mysterious forces that control their societies and individuals' progress; in my program, clouds use weather satellites' positions to predict their states and situations.</p>

      <video class="media_player" width="640"  alt="" controls>
          <source src="/assets/zhanyi.mp4" type="video/mp4">
        </video>
        
		</div>


	  </div>
  </body>
</html>