
<html>
  <head>
    <meta charset="utf-8">
    <title>Elena Bremner</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">ELENA BREMNER</a></h1>
	    	<p><a href="https://elena-bremner.github.io/">Elena Bremner</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">Wooz - 2020</p>

            <img src="/assets/elena1.png" width="600px" alt="">
    

            <p class="description">With the rise of remote work, video conferences are not only normal but expected in the workplace. Now that video conferencing is employees' main source of connection, people feel pressured to leave their cameras in fear of being rude. As a result, many are facing zoom fatigue, stress, or anxiety. On the other hand, for those who do turn their cameras off feel as if they are disrespecting the speaker. </p>

            <p class="description">I designed a gesture-based filter on Lens Studio to enable users to interact in a more dynamic way that is respectful of people’s privacy. Zoom has a reaction feature that triggers a “thumbs up” or “clapping” stamp. However, it does not absorb users in an exciting way. In my design, each gesture detected triggers 3D animations of 5 different reactions. </p>

            <p class="description">My main goal with this piece was to encourage employees to be more engaged in video conferences while having their cameras off. </p>

            <video id="media_player" class="inner" width="600px"  alt="" controls>
                <source src="/assets/elena1.mp4" type="video/mp4">
            </video>	
            <br><br>
            <video id="media_player" class="inner" width="600px"  alt="" controls>
                <source src="/assets/elena2.mp4" type="video/mp4">
            </video>	
            <br><br> 
            <img src="/assets/elena-group.png" width="600px" alt="">
        
		</div>


	  </div>
  </body>
</html>