
<html>
  <head>
    <meta charset="utf-8">
    <title>Maya Campbell</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">MAYA CAMPBELL</a></h1>
	    	<p><a href="https://mayacampbell.org">Maya Campbell</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">High Resolution / Low Resolution Prototypes - 2020</p>

            
            <p class="description">High Resolution / Low Resolution Prototypes is a book that breaks down the two leadings formal schools in architecture to find out their constituent elements. </p>

            <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/maya_page2.jpg" width="600px"alt="">
            <br><br>
            <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/maya_page3.jpg" width="600px"alt="">
            <br><br>
            <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/maya_page4.jpg" width="600px"alt="">
            <br><br>
            <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/maya_page6.jpg" width="600px"alt="">
            <br><br>
            <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/maya_page8.jpg" width="600px"alt="">
        
		</div>


	  </div>
  </body>
</html>