
<html>
  <head>
    <meta charset="utf-8">
    <title>Qian Xi (Cissy) Luo</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">QIAN XI (CISSY) LUO</a></h1>
	    	<p><a href="https://qluocissy.squarespace.com/">Qian Xi (Cissy) Luo</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">Sonic Frosting - 2020</p>

            <video id="media_player" class="inner" width="600px"  alt="" controls>
                <source src="/assets/cissy1.mp4" type="video/mp4">
            </video>  
            <br><br> 

            
            <p class="description">There are many ways to connect with people, in-person or through a device. There are also many different kinds of companionships. In this project, I created a sculpture to lessen the loneliness felt in the stillness of no activities. The animal-like behavior makes the sculpture feel almost like a living companion, and this companion moves unobtrusively when no human voices are present. When human voices are present, the sculpture displays a more exciting behavior in response. This way, the presence of others is abstracted through sound and movement.  The intended audience would be people who want some constant motion in their home, so that the environment always feels lively. </p>

            <p class="description">The current version could be the prototype of a wireless, two part system, where the sound source comes from a public space and the sculpture actuation happens locally. In this future version, the device would be able to provide an ambient presence of other humans in a representational way, to avoid creating a surveillance situation.</p>

            <p class="description">The music in the video is Tchaikovsky's Nutcracker.</p>

            <img src="/assets/cissy1.jpg" width="600px" alt="">
            <br><br>
            <img src="/assets/cissy2.jpg" width="600px" alt="">
            <br><br>
            <img src="/assets/cissy3.jpg" width="600px" alt="">
            <br><br>
            <img src="/assets/cissy4.jpg" width="600px" alt="">
            <br><br>

    
        
		</div>


	  </div>
  </body>
</html>