
<html>
  <head>
    <meta charset="utf-8">
    <title>Soeun Yoon</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">SOEUN YOON</a></h1>
	    	<p><a href="https://soeunyoon.com/">Soeun Yoon</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">Recycle Right - 2020</p>

            <img style="box-shadow: 2px 2px 4px #000000;" src="/assets/soeun1.png" width="600px"alt="">

            
            <p class="description">Knowing what you can and can’t recycle isn’t easy. But when you put stuff that can’t be recycled into that blue bin, it can turn entire hauls of otherwise recyclable materials into trash. </p>

            <p class="description">People try to recycle everything. Waste management workers routinely find bowling balls, batteries, Christmas lights, animal carcasses, even dirty diapers. In 2018, about 25% of items that Americans tried to recycle were actually non-recyclable trash, known as "contamination." The more contamination that enters recycling plants, the more likely a waste management company will simply send the entire haul, including items that could be recycled, to a landfill.  </p>

            <p class="description">Waste management experts say what’s going on here is called aspirational recycling: when people are unsure if the item can be recycled, they recycle it, because it feels like it’s the right thing to do. And while the intention is good, this behavior isn’t harmless. Even small amounts of contamination can turn entire hauls of recyclable materials into the trash -- and the problem has been growing. </p>

            <p class="description">Recycle Right is an educational and informational AR experience that allows the users to interact simply by pointing the camera at the icon with the application. </p>

            
           
        
		</div>


	  </div>
  </body>
</html>