
<html>
  <head>
    <meta charset="utf-8">
    <title>Yi Yang</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/views/assets/style_zack.css">
  </head>
  <body>
  	<div id="page_artist" class="page">
	  	
	  	<div class="header_container">
	    	<h1><a style="text-decoration:none;color:rgb(0,0,255)" href="/">YI YANG</a></h1>
	    	<p><a href="https://www.instagram.com/yi______yang/?hl=en">Yi Yang</a><p>
	    </div>

	    <div id="navContainer">
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/about">ABOUT</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/current">CURRENT SHOWS</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/archive">ARCHIVE</a></p><!-- 
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/dm2132">GALLERY 3</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc3001">GALLERY 4</a></p>
            <p class="navItem"><a style="text-decoration:none;color:rgb(0,0,255)" href="/ctc2000">GALLERY 5</a></p> -->
        </div>

	    <div class="media_container">

            <p class="project_name">Gaze Machine - 2020</p>

            <video id="media_player" class="inner" width="600px"  alt="" controls>
                <source src="/assets/yiyang1.mp4" type="video/mp4">
            </video>  
            <br><br> 

            
            <p class="description">I’m trying to build my face as an interface of the environment and the gazing of people. The face recognition camera will control the mirror to track the position of the face. </p>

            <p class="description">A feedback loop is created to evoke the psychological state of self gaze when the audience interacts with performers and device.</p>

            <p class="description">Central to the construction of the cyborg is informational pathways connecting the organic body to its prosthetic extensions. The idea of the feedback loop implies that the boundaries of the autonomous subject are up for grabs since feedback loops can flow not only within the subject but also between the subject and the environment.</p>

            <p class="description">Multiple shards of light refract onto an open space shift- ing the surface of the body and destabilizing the idea of the autonomous body. Here, the boundary between the physical and virtual body fluctuates before our eyes.</p>

        
		</div>


	  </div>
  </body>
</html>