body {
	font-family: 'Times New Roman', serif;
	background: white;
	/*color: rgb(0, 0, 255);*/
	color: black;
}

h1 {
	margin: 0px;
}

#navContainer {
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

#videoBG {
    position:fixed;
    margin-top: -125px;
    z-index: -1;
    width: 1080px;
}


.image_container {
	margin-top: 75px;
	margin-left: 50px;
	width: 1000px;
	/*height: 1500px;*/
	/*height: 1200px;*/
	/*background-color: black;*/
}

.image_container .inner {
  display: inline-block;
  /*border: solid gray 1px;*/
  /*margin-right: 25px;*/
  /*margin-bottom: 50px;*/
  /*margin-top: 10px;*/
  width: 100px;
  height: 100px;
  /*background-color: white;*/
  margin-bottom: 20px;
}

.image_container .inner:hover {
  cursor: pointer;
}

.image_container .inner img {
	/*border: 1px solid blue;*/
	width: 100px;
}

.image_container .label {
	/*border: 1px solid blue;*/
	height: 50px;
	font-size: 14px;
}


/* adjusting the position of each block in the grid */
.image_container div:nth-child(4) > img { 
	/*border: 1px solid red;*/
	padding-bottom: 25px;
}
.image_container div:nth-child(5) {
	/*border: 1px solid yellow;*/
	position: relative;
	top: -10px;
	left: -45px;
}


.image_container div:nth-child(8) > img { 
	/*border: 1px solid red;*/
	position: relative;
	top: 30px;
}

.image_container div:nth-child(9) {
	/*border: 1px solid red;*/
	position: relative;
	top: 40px;
	left: -60px;
}


.image_container div:nth-child(12) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(13) {
	/*border: 1px solid red;*/
	position: relative;
	left: -70px;
	top: 10px;
}


.image_container div:nth-child(16) > img { 
	/*border: 1px solid red;*/
}

.image_container div:nth-child(17) {
	/*border: 1px solid red;*/
	position: relative;
	left: -60px;
	top: 10px;
}


.image_container div:nth-child(20) > img {
	/*border: 1px solid red;*/
	position: relative;
	top: -40px;
}

.image_container div:nth-child(21){
	/*border: 1px solid red;*/
	position: relative;
	top: -20px;
	left: -65px;
}


.image_container div:nth-child(24) > img { 
	/*border: 1px solid red;*/
}

.image_container div:nth-child(25) {
	/*border: 1px solid red;*/
	position: relative;
	left: -60px;
}


.image_container div:nth-child(28) > img {
	/*border: 1px solid red;*/
}
.image_container div:nth-child(29){
	/*border: 1px solid red;*/
	position: relative;
	left: -80px;
	top: 10px;
}


.image_container div:nth-child(32) > img {
	/*border: 1px solid red;*/
}
.image_container div:nth-child(33) {
	/*border: 1px solid red;*/
}
