body {
	font-family: 'Inconsolata', monospace;
	background: white;
	color: rgb(0, 0, 255);
}

h1 {
	margin: 0px;
}

#canvasContainer {
	width: 100%;
}

#navContainer {
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

.project_title {
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: -10px;
}

.artist_name {
	margin-left: 50px;
	margin-bottom: 25px;
}

.post_container {
	text-align: center;
	width: 100%;
	display: inline-block;
}

.description_container {
	/*margin-left: 50px;
	margin-right: 50px;*/
	margin:auto;
	text-align: center;
	width: 100%;
	
}

.description_container p.description {
	text-align: left;
	width: 800px;
	display: inline-block;
}

.image_container {
	margin: 0px;
	display: inline-block;
}

.image_container .main_img {
	border: 2px solid blue;
	display: block;
}

.image_container img.sub_img {
	margin-top: 15px;
}

.image_container > img:nth-child(3) { 
	margin-left: 200px;
}



