body {
	font-family: Helvetica, sans-serif;
	background: white;
	/*color: rgb(0, 0, 255);*/
	color: black;
	text-align: center;
}

h1 {
	margin: 0px;

}

#navContainer {
	width: 100%;
	margin-left: 15px;
	margin-top: 100px;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

.project_title {
	font-size: 80px;
	font-family: Helvetica;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 0px;
}

.artist_name {
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
}

.slider_container{
	margin-top: 15px;
	margin-bottom: -10px;
	width: 150px;
	text-align: center;
	display:inline-block;
}

.slider_container img {
	width: 150px;
	display: inline-block;
}

.description {
	font-size: 12px;
	display: inline-block;
	width: 480px;
	margin-bottom: 50px;
	line-height: 15px
}

.image_container {
	/*width: 100%;
	text-align: center;*/
	display: inline-block;
}

.image_container .inner {
 	display: inline-block;
 	width: 300px;
 	margin: 20px;
}

.image_container .inner img {
	width: 300px;
}



