body {
	font-family: 'Inconsolata', monospace;
	background: white;
	color: rgb(0, 0, 255);
}

h1 {
	margin: 0px;
}

#canvasContainer {
	width: 100%;
}

#navContainer {
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

/*.p5Canvas {
	margin: 0px;
	display: inline-block;
	border: 0.5px dashed;
	border-color: rgb(0, 0, 255);
}*/

.p5CanvasElt {
	margin: 0px;
	display: inline-block;
	border: 0.5px dashed;
	border-color: rgb(0, 0, 255);
}

.p5Canvas {
	display: inline-block;
}

.p5CanvasElt .p5Canvas {
	/*margin: 0px;*/
	border: 0.5px dashed;
	border-color: rgb(0, 0, 255);
}

.msg404 {

}

.description {
	width: 800px;
}


