body {
	font-family: 'Inconsolata', monospace;
	background: white;
	color: rgb(0, 0, 255);
}

h1 {
	margin: 0px;
}

.header_container {
	width: 100%;
	padding-left: 50px;
}

.header_container h1 {
	display:inline-block;
}

.header_container p {
	display: inline-block;
	float: right;
	margin-right: 100px;
}

#navContainer {
	width: 100%;
	margin-bottom: 50px;
	margin-left: 50px;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

.description_container {
	margin-left: 50px;
	width: 800px;
}

.media_container {
	text-align: center;
	width: 100%;
}

.media_player {
	text-align: center;
	margin-bottom: 50px;
	margin-left: 200px;
	margin-right: 200px;
}

.description {
	line-height: 22px;
	display: inline-block;
	text-align: left;
	color: black;
	width: 600px;
	margin-left: 200px;
	margin-right: 200px;
}




