
body {
	font-family: 'Inconsolata', monospace;
	background: white;
	color: rgb(0, 0, 255);

}


h1 {
	margin: 0px;
}

#canvasContainer {
	width: 100%;
}

#navContainer {
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}


/*.p5Canvas {
	margin: 0px;
	display: inline-block;
	border: 0.5px dashed;
	border-color: rgb(0, 0, 255);
}*/

.p5CanvasElt {
	margin: 0px;
	display: inline-block;
	border-color: rgb(0, 0, 255);
}

.p5Canvas {
	display: inline-block;
}

.p5CanvasElt .p5Canvas {
	/*margin: 0px;*/
	/*border: 0.5px dashed;*/
	border-color: rgb(0, 0, 255);
	display: inline-block;
}

.msg404 {

}

.description {
	width: 800px;
}





#page_home {
	text-align: center;
	margin: auto;
	width: 100%;
	/*height: 100%;*/
}



/*#page_home .text_container {
	margin: auto;
	display: inline-block;
	padding-top: 350px;
}*/

#page_home .text_container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

#page_home .sub {
	margin-top: 5px;
}

@media screen and (max-width: 480px) {
  #page_home .text_container {
    background-color: grey;
    padding: 10px;
  }
}

#page_home h1 {
	color: white;
}

/*#page_home #p5sketch0 {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: auto;
	border: 2px solid red;
}*/


