 .page {
 	display: inline-block;
 	text-align: center;
 }

 a {
	text-align: center;
	}
		 
div {
  max-width: 600px;
  min-width: 300px;
  background-color: #23477B;
}
span{
  background-color: #23477B;
} 

#navContainer {
	margin-top: 50px;
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

.description {
	margin: 15px;
	text-align: left;
}
