body {
	font-family: 'Times New Roman', serif;
	background: white;
	/*color: rgb(0, 0, 255);*/
	color: black;
}

h1 {
	margin: 0px;
}

#navContainer {
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

#videoBG {
    position:fixed;
    margin-top: -125px;
    z-index: -1;
    width: 1080px;
}


.image_container {
	margin-top: 75px;
	margin-left: 50px;
	width: 1000px;
	/*height: 1500px;*/
	/*height: 1200px;*/
	/*background-color: black;*/
}

.image_container .inner {
  display: inline-block;
  /*border: solid gray 1px;*/
  /*margin-right: 25px;*/
  /*margin-bottom: 50px;*/
  /*margin-top: 10px;*/
  width: 100px;
  height: 100px;
  /*background-color: white;*/
  margin-bottom: 20px;
}

.image_container .inner:hover {
  cursor: pointer;
}

.image_container .inner img {
	/*border: 1px solid blue;*/
	width: 100px;
}

.image_container .label {
	/*border: 1px solid blue;*/
	height: 50px;
}


/* adjusting the position of each block in the grid */
.image_container div:nth-child(2) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(4) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(6) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(8) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(10) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(12) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(14) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(16) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(18) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(20) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(22) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(24) > img {
	/*border: 1px solid red;*/
}
.image_container div:nth-child(26) > img {
	/*border: 1px solid red;*/
}

.image_container div:nth-child(28) > img {
	/*border: 1px solid red;*/
}
