body {
	font-family: 'Inconsolata', monospace;
	background: white;
	color: rgb(0, 0, 255);
}

h1 {
	margin: 0px;
}

#canvasContainer {
	width: 100%;
}

#navContainer {
	width: 100%;
}

.navItem {
	display: inline-block;
	margin: 5px;
	margin-top: 10px;
}

.navItem a {
	text-decoration: none;
}

.project_title {
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: -10px;
}

.artist_name {
	margin-left: 50px;
	margin-bottom: 25px;
}

.description_container {
	margin-left: 50px;
	width: 800px;
}




